<p>admin-login works!</p>
<!-- <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card> -->
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Administrator Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form class="example-form" [formGroup]="loginForm">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <!-- username field -->
                            <mat-label>Username</mat-label>
                            <input type="text" matInput formControlName="adminUsername">
                            <mat-error *ngIf="adminusername?.hasError('required')">
                                Please enter your admin username
                            </mat-error>

                            <mat-error *ngIf="adminusername?.errors?.minlength">
                                Username contains attleast 5 letters
                            </mat-error>
                        </mat-form-field>
                        <!-- Password field -->
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="adminPassword">
                            <mat-error *ngIf="adminpassword?.hasError('required')">
                                Please enter your password
                            </mat-error>

                            <mat-error *ngIf="adminpassword?.errors?.minlength">
                                Password contains attleast 4 letters
                            </mat-error>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="admLogin()">Login</button>
                    <button mat-button color="warn" routerLink="/">Cancel</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>