<div class="form-container container center-div">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form #changepwd="ngForm" method="POST" (ngSubmit)="changePassword()">
                <mat-card class="reg-container card">
                    <mat-card-title class="card-title">Change Password</mat-card-title>
                    <mat-card-content>
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Enter your old password</mat-label>
                            <input matInput type="password" name="oldpassword" #oldpassword="ngModel" required [(ngModel)]="changepassword.oldpassword">
                            <mat-error *ngIf="oldpassword.errors?.required && oldpassword.touched">
                                Please enter your old password
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Enter a new password</mat-label>
                            <input matInput type="password" name="newpassword" #newpassword="ngModel" required [(ngModel)]="changepassword.newpassword">
                            <mat-error *ngIf="newpassword.errors?.required && newpassword.touched">
                                Please enter a new password
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button type="submit" mat-raised-button color="accent">Save</button>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>