<div class="container center_div form-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="addproduct-form" [formGroup]="form" (ngSubmit)="AddProduct()">
                <mat-card>
                    <mat-card-title>Add Product</mat-card-title>
                    <mat-card-content>
                        <!-- title -->
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title" id="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                            <mat-error *ngIf="submitted && f.title.errors">
                                Product title is required
                            </mat-error>
                        </mat-form-field>
                        <!-- product id -->
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Registered Product Id</mat-label>
                            <input matInput formControlName="regprodid" [ngClass]="{ 'is-invalid': submitted && f.regprodid.errors }">
                            <mat-error *ngIf="submitted && f.regprodid.errors">
                                Registered product id is required
                            </mat-error>
                        </mat-form-field>
                        <!-- description -->
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                            <mat-error *ngIf="submitted && f.description.errors">
                                Please enter a description about the product.
                            </mat-error>
                        </mat-form-field>
                        <!-- product image -->
                        <label>Upload product pictures</label>
                        <input type="file" #inputFile (change)="uploadFile($event)" [ngClass]="{ 'is-invalid': submitted && f.avatar.errors }">
                        <mat-error *ngIf="submitted && f.avatar.errors && inputfileValidation">
                            Please upload the product picture
                        </mat-error>
                        <!-- price -->
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Price</mat-label>
                            <input type="number" matInput formControlName="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                            <mat-error *ngIf="submitted && f.price.errors">
                                Please enter the price
                            </mat-error>
                        </mat-form-field>
                        <!-- quantity -->
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Quantity</mat-label>
                            <input type="number" matInput formControlName="quantity" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }">
                            <mat-error *ngIf="submitted && f.quantity.errors">
                                Please enter the quantity
                            </mat-error>
                        </mat-form-field>
                        <!-- Weight and weight unit -->
                        <mat-grid-list cols="2" rowHeight="100px" gutterSize="30px" class="full-width">
                            <mat-grid-tile>
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Weight</mat-label>
                                    <input type="number" matInput formControlName="weight" [ngClass]="{ 'is-invalid': submitted && f.weight.errors }">
                                    <mat-error *ngIf="submitted && f.weight.errors">
                                        Please enter the weight
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Unit</mat-label>
                                    <mat-select formControlName="unit" [ngClass]="{ 'is-invalid': submitted && f.unit.errors }">
                                        <mat-option value="one">kg</mat-option>
                                        <mat-option value="two">g</mat-option>
                                        <mat-option value="three">lb</mat-option>
                                        <mat-option value="four">oz</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="submitted && f.unit.errors">
                                        Please select the weight unit
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <!-- category -->
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category" id="category" size="1" (selectionChange)="makeSubmenu();" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                                <mat-option value="" disabled>None</mat-option>
                                <mat-option value="Gadgets">Gadgets</mat-option>
                                <mat-option value="Clothes">Clothes</mat-option>
                                <mat-option value="Footwear">Footwear</mat-option>
                            </mat-select>
                            <mat-error *ngIf="submitted && f.category.errors">
                                Please select the product category
                            </mat-error>
                        </mat-form-field>
                        <!-- subcategory need to add here -->
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Sub Category</mat-label>
                            <mat-select formControlName="subcategory" size="1" required [ngClass]="{ 'is-invalid': submitted && f.subcategory.errors }" id="subcategory">
                                <mat-option value="" disabled selected>None</mat-option>
                                <mat-option *ngFor="let item of subcategoryList" value="one">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="submitted && f.subcategory.errors">
                                Please select the product category
                            </mat-error>
                        </mat-form-field>
                        <!-- brand and status -->
                        <mat-grid-list cols="2" rowHeight="100px" gutterSize="30px" class="full-width">
                            <mat-grid-tile>
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Brand</mat-label>
                                    <input matInput formControlName="brand" [ngClass]="{ 'is-invalid': submitted && f.brand.errors }">
                                    <mat-error *ngIf="submitted && f.brand.errors">
                                        Please enter the product brand
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Status</mat-label>
                                    <mat-select formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                                        <mat-option value="active">Active</mat-option>
                                        <mat-option value="draft">Draft</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="submitted && f.status.errors">
                                        Please select the status
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">Add product</button>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
        <div class="col-md-2"></div>

    </div>





</div>