<!-- <p>footer works!</p> -->
<mat-toolbar color="primary" class="footer-spacer">
    <!-- <div fxLayoutGap="20px" fxLayout="row fxFlexFill fxLayoutAlign="start center">
        <div fxFlex="35">
            <p mat-h3>REGISTRED OFFICE ADDRESS</p>
        </div>
        <div fxFlex="30" fxHide.lt-md>
            <p mat-h3>Policy</p>
        </div>
        <div fxFlex="35" fxLayoutAlign="space-around center">
            <div fxFlex="50" fxFlex.lt-lg="80"> About</div>
            <div fxFlex="50" fxFlex.lt-lg="80"> Social</div>
        </div>
    </div> -->

    <!-- <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile>teead</mat-grid-tile>
        <mat-grid-tile>teead</mat-grid-tile>
        <mat-grid-tile>teead</mat-grid-tile>
        <mat-grid-tile>teead</mat-grid-tile>
    </mat-grid-list> -->

    <div fxLayoutGap="20px" fxFlexFill fxLayoutAlign="start center">
        <div fxFlex="35">
            <p mat-h3>REGISTRED OFFICE ADDRESS</p>

        </div>
        <div fxFlex="35">
            <p mat-h3>REGISTRED OFFICE ADDRESS</p>

        </div>
        <div fxFlex="35">
            <p mat-h3>REGISTRED OFFICE ADDRESS</p>

        </div>
    </div>
</mat-toolbar>