.mat-card {
    height: 100%;
}

button {
    height: 40px;
}

.pstart {
    margin-top: 60px;
}

.img-prod {
    height: 100%;
    width: 70%;
    /* height: 100%; */
}

.prd-head {
    text-align: center;
}

ngb-rating {
    color: #FFC107;
    font-size: 20px;
}

.btm-margin {
    margin-top: 100px;
}

.example-full-width {
    width: 50%;
}