<div class="top-margin">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="centr-y">product</th>
                <th scope="col" class="centr-y">Expected delivery date</th>
                <th scope="col" class="centr-y">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="../../../assets/produc_images/macbook.jpg" height="100px" width="100px"></td>
                <td class="centr-y">Macbook Pro</td>
                <td class="centr-y">Dec 10, 2021</td>
                <td class="centr-y">2000Rs</td>
            </tr>

            <tr>
                <td><img src="../../../assets/produc_images/macbook.jpg" height="100px" width="100px"></td>
                <td class="centr-y">Macbook Pro</td>
                <td class="centr-y">Dec 10, 2021</td>
                <td class="centr-y">2000Rs</td>
            </tr>
            <tr>
                <td><img src="../../../assets/produc_images/macbook.jpg" height="100px" width="100px"></td>
                <td class="centr-y">Macbook Pro</td>
                <td class="centr-y">Dec 10, 2021</td>
                <td class="centr-y">2000Rs</td>
            </tr>
        </tbody>
    </table>
</div>