<div class="main-div">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="centr-y">product</th>
                <th scope="col" class="centr-y">Order date</th>
                <th scope="col" class="centr-y"
                >Quantity</th>
                <th scope="col" class="centr-y">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prodDetails of ProductDetails.purchaseproducts">
                <td><img src="" height="100px" width="100px" onerror="this.src='../../assets/produc_images/default.png'"></td>
                <td class="centr-y">{{prodDetails.productName}}</td>
                <td class="centr-y">{{prodDetails.orderdate}}</td>
                <td class="centr-y">{{prodDetails.quantity}}</td>
                <td class="centr-y">{{prodDetails.ammount}}</td>
            </tr>
        </tbody>
    </table>
</div>