p {
    margin-top: 60px;
}

.content {
    padding: 16px;
}

.content>mat-card {
    width: 200px;
}


/* Container css property(Side Navigation Container) */

.sideNav {
    background-color: #E3F2FD;
}

.tp-container {
    position: absolute;
    top: 60px;
    /* bottom: 0; */
    left: 0;
    right: 0;
    background: #eee;
}

.tp-section {
    margin-top: 60px;
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
}

.main-div {
    margin-top: 70px;
}