<article [class.content]="!deviceXs" [class.content-mob]="deviceXs">
    <!-- (scroll)="onScroll($event)" -->

    <mat-card class="register-card" fxLayout="column" fxLayoutAlign="center center">
        <!-- -->
        <mat-card-header class="full-width">
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content class="full-width">
            <form class="registration-form" #userForm="ngForm">
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="First name" [(ngModel)]="reg.fnname" name="fname" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Last name" [(ngModel)]="reg.lname" name="lname" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="male" [(ngModel)]="reg.gender">Male</mat-radio-button>
                                <mat-radio-button value="female" [(ngModel)]="reg.gender">Female</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="reg.dob">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Address</mat-label>
                                <textarea matInput placeholder="Address" [(ngModel)]="reg.address"></textarea>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Country</mat-label>
                                <select matNativeControl required [(ngModel)]="reg.country">
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
                <option value="UAE">UAE</option>
              </select>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Mobile" name="phone" required [(ngModel)]="reg.phone">
                            </mat-form-field>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Email" name="email" required [(ngModel)]="reg.username">
                            </mat-form-field>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="reg.password">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Confirm password" type="password" name="cpassword" required>
                            </mat-form-field>
                        </td>
                    </tr>

                </table>
            </form>
            <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="register()" color="primary">Register</button>
            <button mat-raised-button (click)="register()" color="accent">Reset</button>
        </mat-card-actions>
    </mat-card>


</article>