h1 {
    margin-top: 60px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.bgcolor {
    background-color: #E0F2F1;
}

.cart-all {
    margin: 10px;
    background-color: #E0F2F1;
}

.cart-prod-card {
    margin-top: 10px;
    background-color: #ffffff;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.example-full-width {
    width: 100%;
}

.close-btn {
    height: 30px;
    width: 20px;
}

.product-card-container {
    margin-top: 20pt;
}

.product-card {
    max-width: 300px;
    align-items: center;
}

.bg {
    top: 0;
    bottom: 0;
    min-height: 100%;
    background-color: rgb(217, 217, 250)
}