.main-div {
    margin-top: 80px;
}


/* mat-grid-tile {
    background: lightblue;
} */

.txt-center {
    text-align: center;
}

.img {
    height: 200px
}

mat-card {
    background-color: rgb(236, 230, 230)
}

p {
    font-size: large;
    font-family: initial;
    font-weight: bolder;
    color: rgb(36, 51, 36);
}

h2 {
    font-weight: bold;
}