<div class="main-div">
    <mat-grid-list cols="3" rowHeight="210px">
        <mat-grid-list cols="1" class="txt-center">
            <h2>What we are</h2>
        </mat-grid-list>
        <mat-grid-tile colspan="2">
            <p class="text-center pl-5">CS ecommerce venture, Inc. is an UK based multinational conglomerate which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is one of the Big Five companies in the UK. information technology industry,
                along with Google, Apple, Microsoft, and Facebook</p>
        </mat-grid-tile>
        <mat-grid-tile><img class="img" src="../../assets/dev_images/ecommerce-shoping.jpg" alt=""></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" class="txt-center">
        <h2>Our Partners</h2>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="250px">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Amazon Sellers</mat-card-title>
                </mat-card-header>
                <img mat-card-image class="img" src="../../assets/dev_images/amazon-partner.jpg">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title> FFlipkart</mat-card-title>
                </mat-card-header>
                <img class="img" src="../../assets/dev_images/flipkart-logo.jpg" alt="">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Amazon</mat-card-title>
                </mat-card-header>
                <img class="img" src="../../assets/dev_images/amazon-partner.jpg" alt="">
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>