<p>about-us works!</p>
<div>
    <mat-grid-list cols="3" rowHeight="210px">
        <mat-grid-list cols="1" class="txt-center">
            <h2>What we are</h2>
        </mat-grid-list>
        <mat-grid-tile colspan="2">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati itaque aperiam quas tenetur possimus id nam atque laboriosam rerum animi quisquam et, repudiandae fuga, quam qui, modi quasi quae perspiciatis?
        </mat-grid-tile>
        <mat-grid-tile><img class="img" src="../../assets/dev_images/ecommerce-shoping.jpg" alt=""></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" class="txt-center">
        <h2>Our Partners</h2>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="250px">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Amazon Sellers</mat-card-title>
                </mat-card-header>
                <img mat-card-image class="img" src="../../assets/dev_images/amazon-partner.jpg">
            </mat-card>

            <!-- <img class="img" src="../../assets/dev_images/amazon-partner.jpg" alt=""> -->
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="img" src="../../assets/dev_images/flipkart-logo.jpg" alt="">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="img" src="../../assets/dev_images/amazon-partner.jpg" alt="">
        </mat-grid-tile>
    </mat-grid-list>
</div>


<!--<mat-grid-tile><img class="img" src="../../assets/dev_images/ecommerce-shoping.jpg" alt=""></mat-grid-tile>
        <mat-grid-tile>
            <div>
                <img src="../../assets/dev_images/ecommerce-shoping.jpg" alt="">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div><img src="../../assets/dev_images/ecommerce-shoping.jpg" alt=""></div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div><img src="../../assets/dev_images/ecommerce-shoping.jpg" alt=""></div>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">5</mat-grid-tile>
         <mat-grid-tile>3</mat-grid-tile>-->