<div class="container product-card-container">
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4 product-card-div" *ngFor="let item of products">
            <mat-card class="product-card">
                <mat-card-title>{{item.title}}</mat-card-title>
                <img mat-card-image src="https://cs-ecom.herokuapp.com{{item.imgURl}}" alt="Photo of the Tshirt" onerror="this.src='../../assets/produc_images/default.png'">
                <mat-card-content>
                    <h3><b>Price:</b> {{item.price}}</h3>
                    <h3><b>Stock:</b> {{item.quantity}}</h3>
                    <h3><b>Status:</b> {{item.status}}</h3>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="openProductDialog(item.productId,item.title,item.desc,item.price,item.quantity,item.status)">Edit</button>
                    <button mat-raised-button color="warn" (click)="deleteProduct(item.productId)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>