.content {
    position: absolute;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

.content-mob {
    position: absolute;
    top: 113px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

.example-card {
    max-width: 320px;
    margin: 0px 5px 5px 0px;
}

.example-header-image {
    background-image: url('../../assets/produc_images/klogo.png');
    background-size: cover;
}

mat-drawer {
    position: fixed;
    background-color: rgb(236, 236, 236);
}

.example-sidenav-content:first-child {
    margin: 10px 5px 5px 5px;
}

.list-width {
    width: 200px;
}

.list-item:hover {
    background-color: rgba(83, 83, 83, 0.178);
    cursor: pointer;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 40%;
    font-size: 12px;
    margin-left: 25%;
}