<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">First name</th>
      <td>{{result.name}}</td>
    </tr>
     <tr *ngIf="isReseller">
      <th scope="row">company id</th>
      <td >{{result.Rid}}</td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td>{{result.address}}</td>
    </tr>
    <tr>
      <th scope="row">date of birth</th>
      <td>{{result.dob}}</td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td>{{result.gender}}</td>
    </tr>
    <tr>
      <th scope="row">country</th>
      <td>{{result.country}}</td>
    </tr>
    <tr>
      <th scope="row">mobile</th>
      <td>{{result.mobile}}</td>
    </tr>
    <tr>
      <th scope="row">email</th>
      <td>{{result.email}}</td>
    </tr>
  </tbody>
</table>
<button mat-raised-button color="primary">Edit profile</button>