.dasboard {
    position: absolute;
    top: 65px;
    bottom: 50px;
    left: 0;
    right: 0;
    background: #eee;
}

.sidenav-font {
    color: black;
    font-weight: bold;
    font-size: large;
    font-family: 'Lucida Sans';
}

.sidenav {
    background-color: #C8DAD2;
}


/* .example-container {
    width: 100%;
} */


/*
p {
    margin-top: 60px;
}

.example-container {
    width: 100%;
    bottom: 0;
    position: sticky
}

.drawer {
    width: 200px;
    height: 100%;
}

.sidenav-elements {
    list-style-type: none;
}

.sidenav-btn {
    width: 100%;
    padding: 5px;
} */